<ul class="visible-lg visible-md nav nav-pills pull-right">
	<li>
		<a class="js-add-blog" href="#add/blog"><i class="icon-plus-sign"></i>Add a Blog</a>
	</li>
	<!-- removing this and putting under Settings dropdown
	<li class="dropdown">
		<a class="dropdown-toggle js-show-" data-toggle="dropdown">
			<i class="icon-share-alt"></i>
			Show New Items
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Show All Items</a></li>
		</ul>
	</li>
	-->
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown">
			<i class="icon-check"></i>
			Mark As Read
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li class="js-older-than-now">
				<a href="#">All</a>
			</li>
			<li class="js-older-than-day">
				<a href="#">Older than a day</a>
			</li>
			<li class="js-older-than-two-days">
				<a href="#">Older than two days</a>
			</li>
			<li class="js-older-than-three-days">
				<a href="#">Older than three days</a>
			</li>
			<li class="js-older-than-week">
				<a href="#">Older than a week</a>
			</li>
			<li class="js-older-than-two-weeks">
				<a href="#">Older than two weeks</a>
			</li>
			<li class="js-older-than-month">
				<a href="#">Older than a month</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown">
			<i class="icon-cog"></i>
			Settings
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu pull-right">
			<li role="presentation" class="dropdown-header">
				Post settings
			</li>
			<li>
				<a class="js-show-all-posts" href="#">
					<i class="icon-{{show_all_posts_checked}}"></i>
					Show all
				</a>
			</li>
			<li>
				<a class="js-show-only-new-posts" href="#">
					<i class="icon-{{show_updated_posts_only_checked}}"></i>
					Show updated only
				</a>
			</li>
			<li role="presentation" class="divider"></li>
			<li role="presentation" class="dropdown-header">
				Reader settings
			</li>
			<li>
				<a class="js-hide-unread-count" href="#">
					<i class="icon-{{hide_unread_count_checked}}"></i>
					Hide unread count
				</a>
			</li>
			<li>
				<a class="js-show-unread-count" href="#">
					<i class="icon-{{show_unread_count_checked}}"></i>
					Show unread count
				</a>
			</li>
			<li role="presentation" class="divider"></li>
			<li role="presentation" class="dropdown-header">
				Blog settings
			</li>
			<li>
				<a class="js-show-all-blogs" href="#">
					<i class="icon-{{show_all_blogs_checked}}"></i>
					Show All Blogs
				</a>
			</li>
			<li>
				<a class="js-show-only-updated-blogs" href="#">
					<i class="icon-{{show_updated_blogs_only_checked}}"></i>
					Show Only Updated
				</a>
			</li>

		</ul>
	</li>
</ul>