<div class="item-graphic col-xs-3 col-lg-2">
    <img src="{{image_src}}" class="img-thumbnail img-responsive">
</div>
<div class="item-summary col-xs-9 col-lg-10">
    <h4>
        <a class="js-toggle-post" href="#">
            {{title}} <i class="icon-double-angle-left"></i>
        </a>
    </h4>
    <div>{{{description}}}</div>
    <div>
        <a href="{{blog.url}}">{{blog.title}}</a> |
        <i class="icon-time"></i> {{date time=created_at format="MMMM Do YYYY, h:mm a"}}
    </div>
</div>